<template>
  <div>
    <md-card class="md-layout-item md-size-100 md-small-size-100" v-if="channel">
      <md-card-content>
        <div>
        <md-tabs md-sync-route class="md-primary">
          <md-tab id="tab-home" md-label="Channel Info">
            <h2>Channel Name</h2>
            <div class="md-title">{{channel.name}}</div>

            <h2>Fans List</h2>
            <md-table>
              <md-table-row v-for="fan in channel.fans" :key="fan.id">
                 <md-table-cell>{{fan.name}}</md-table-cell>
               </md-table-row>
            </md-table>

          </md-tab>
          <md-tab id="tab-messages" md-label="Fan Messages">
            <h2>Fan Messages</h2>
            <md-table>
              <md-table-row>
                <md-table-head md-numeric>ID</md-table-head>
                <md-table-head>User</md-table-head>
                <md-table-head>Message</md-table-head>
                <md-table-head>Sent Date</md-table-head>
              </md-table-row>
              <md-table-row v-for="message in channel.streaming_channel_messages" :key="message.id">
                 <md-table-cell md-numeric>{{message.id}}</md-table-cell>
                 <md-table-cell>{{message.user.name}}</md-table-cell>
                 <md-table-cell>{{message.message}}</md-table-cell>
                 <md-table-cell>{{message.datetime | formatDate}}</md-table-cell>
               </md-table-row>
            </md-table>

          </md-tab>

          <md-tab id="tab-stats" md-label="Stats" v-if="stats">
            <h2>Stats, message by user</h2>
            <md-table v-if="videoStats">
              <md-table-row slot="md-table-row">
                <md-table-cell>
                  Video Comments: {{videoStats.commentCount}}
                </md-table-cell>
                <md-table-cell>
                  Dislikes: {{videoStats.dislikeCount}}
                </md-table-cell>
                <md-table-cell>
                  Favorites: {{videoStats.favoriteCount}}
                </md-table-cell>
                <md-table-cell>
                  Likes: {{videoStats.likeCount}}
                </md-table-cell>
                <md-table-cell>
                  Views: {{videoStats.viewCount}}
                </md-table-cell>
              </md-table-row>
            </md-table>

            <md-table v-model="stats" md-sort="name" md-sort-order="asc">
              <md-table-toolbar>
                <h1 class="md-title">Users</h1>
              </md-table-toolbar>

              <md-table-row slot="md-table-row" slot-scope="{ item }">
                <md-table-cell md-label="ID" md-numeric>{{ item.id }}</md-table-cell>
                <md-table-cell md-label="Avatar">
                  <md-avatar>
                    <img :src="item.avatar" alt="Avatar">
                  </md-avatar>
                </md-table-cell>
                <md-table-cell md-label="Name" md-sort-by="name">{{ item.name }}</md-table-cell>
                <md-table-cell md-label="Message count" md-sort-by="messages">{{ item.messages }}</md-table-cell>
                <md-table-cell md-label="Last message" md-sort-by="last_message_date">{{ item.last_message_date }}</md-table-cell>
              </md-table-row>
            </md-table>
          </md-tab>

        </md-tabs>
      </div>
      </md-card-content>
    </md-card>

  </div>
</template>
<script lang="ts" src="./component.vue.ts"></script>
