<template>
  <div>
    <div>
      <div class="md-layout md-row">
        <div class="md-layout">
          <h1></h1>
        </div>
      </div>
      <div class="md-layout md-row md-gutter" v-if="video" >
        <div class="md-layout-item md-size-10 md-small-hide md-xsmall-hide">
        </div>
        <div class="md-layout-item md-size-40 md-small-size-100 md-xsmall-size-100">
          <md-card>
             <md-card-media md-alignment="center">
               <iframe width="600" height="337.5" :src="'https://www.youtube.com/embed/' + $route.params.id + '?autoplay=1'" frameborder="0" allowfullscreen class="md-image"></iframe><br/>
             </md-card-media>

             <md-card-header>
               <div class="md-title">{{video.snippet.title}}</div>
               <div class="md-subhead">{{video.snippet.channelTitle}}</div>
             </md-card-header>

             <md-card-expand>
               <md-card-actions md-alignment="space-between">
                 <div v-if="channel">
                    <md-button v-if="!channel.user_is_fan" class="md-raised md-primary" @click="becomeFan">Become Super Mega Fan</md-button>
                    <md-button v-if="channel.user_is_fan" disabled @click="becomeFan">You Are Super Mega Fan!</md-button>
                    <router-link tag="md-button" class="md-raised md-primary" :to="{ name: 'channel', params: {id: channelId} }">View Channel Stats</router-link>
                 </div>
                 <md-card-expand-trigger>
                   <md-button class="md-raised">View description</md-button>
                 </md-card-expand-trigger>
               </md-card-actions>

               <md-card-expand-content>
                 <md-card-content>
                   {{video.snippet.description}}
                 </md-card-content>
               </md-card-expand-content>
             </md-card-expand>
           </md-card>
        </div>
        <div class="md-layout-item md-size-40 md-small-size-100 md-xsmall-size-100">
          <md-card>
            <iframe width="400" height="700" :src="'https://www.youtube.com/live_chat?v=' + $route.params.id + '&output=embed&embed_domain=' + domain" allowfullscreen="" frameborder="0" class="md-image"></iframe>
          </md-card>
        </div>
        <div class="md-layout-item md-size-10 md-small-hide md-xsmall-hide">
        </div>
      </div>
      <div class="md-layout-item md-size-80">
        <GChart
        type="LineChart"
        :data="chartData"
        :options="chartOptions"
        />
      </div>
    </div>
  </div>
</template>
<script lang="ts" src="./component.vue.ts"></script>
<style lang="scss" scoped>
  .card-expansion {
    height: 480px;
  }

  .md-card {
    margin: 4px;
    display: inline-block;
    vertical-align: top;
  }
</style>
