<template>
  <div class="page-container md-layout-column">
    <md-app style="min-height: 100vh;">
      <md-app-toolbar class="md-primary" v-if="isLoggedIn">
        <span class="md-title">StreamViewer</span>
      </md-app-toolbar>

      <md-app-drawer md-permanent="full" v-if="isLoggedIn">
        <md-toolbar class="md-transparent" md-elevation="0" v-if="user">
          Welcome, {{user.name}}
        </md-toolbar>

        <md-list>
          <md-list-item>
            <md-icon>home</md-icon>
            <span class="md-list-item-text">
                <router-link :to="{ name: 'home' }">Home</router-link>
            </span>
          </md-list-item>
          <md-list-item v-if="isLoggedIn">
            <md-icon>power_settings_new</md-icon>
            <span class="md-list-item-text">
                <a href="#" @click="logout">Logout</a>
            </span>
          </md-list-item>
          <md-list-item v-if="!isLoggedIn">
            <md-icon>home</md-icon>
            <span class="md-list-item-text">
                <router-link :to="{ name: 'login' }">Login</router-link>
            </span>
          </md-list-item>
        </md-list>
      </md-app-drawer>
      <md-app-content>
        <router-view></router-view>
      </md-app-content>
    </md-app>
  </div>
</template>
<style lang="scss" scoped>
  .md-app {
    max-height: 400px;
    border: 1px solid rgba(#000, .12);
  }

   // Demo purposes only
  .md-drawer {
    width: 230px;
    max-width: calc(100vw - 125px);
  }
</style>
<script>

import Vuex from 'vuex';
 const axios = require('axios');

export default {
  name: 'Home',
  data () {
    return {
      isInit: false,
      isSignIn: false,
      expandSingle: false,
      expandConfig: false,
      user: null
    }
  },
  mounted() {
    this.getMyUser();
    this.user = localStorage.getItem('user')
  },
  computed: {
    ...Vuex.mapGetters(["isLoggedIn"])
  },
  methods: {
    signOut()
    {
      this.$gAuth.signOut()
      .then(() => {
        // On success do something
        console.log('signed out from google')
        this.isSignIn = this.$gAuth.isAuthorized
        this.logout()
      })
      .catch(error  => {
        this.isSignIn = this.$gAuth.isAuthorized
        this.logout()
        this.$router.push('login');
        // On fail do something
      })
    },
    handleClickSignOut(){
      this.signOut()
    },
    getMyUser(){
      let self = this
      let token = localStorage.getItem('token')
      return axios.get('/auth/me?token='+token)
        .then(function(response){
          localStorage.setItem('user',response)
          self.user = response.data
          console.log(self.user)
        })
        .catch(function (error) {
          console.log(error)
          console.log('unauthenticated')
          self.signOut()
        })

    },
    ...Vuex.mapActions(["logout"])
  }
}

</script>
