<template>
  <div>
    <div class="md-layout md-gutter">
      <div class="md-layout-item md-size-20 md-small-size-100">
        <md-field>
          <md-select v-model="categoryId" name="category" id="category" placeholder="Select Category">
            <md-option v-for="category in categories" :key="category.id" :value="category.id">{{category.snippet.title}}</md-option>
          </md-select>
        </md-field>
      </div>
      <div class="md-layout-item md-size-60 md-small-size-100">
        <md-field>
          <md-input v-model="query" placeholder="Type to search videos"></md-input>
        </md-field>
      </div>
      <div class="md-layout-item md-size-20 md-small-size-100">
        <md-button class="md-raised md-primary" @click="searchVideos">Search</md-button>
      </div>
    </div>
    <div class="md-layout video-list-container" v-infinite-scroll="loadMore" infinite-scroll-disabled="busy" infinite-scroll-distance="0">
      <md-card class="card-expansion" v-for="video in videos" :key="video.etag">
        <md-card-media md-ratio="16:9">
          <img :src="video.snippet.thumbnails.high.url">
        </md-card-media>

        <md-card-header>
          <div class="md-title">{{video.snippet.title}}</div>
          <div class="md-subhead">{{video.snippet.channelTitle}}</div>
        </md-card-header>

        <md-card-expand>
          <md-card-actions md-alignment="space-between">
            <div>
              <md-button>
                <router-link :to="{ name: 'livestreaming', params: {id: video.id.videoId} }">View Stream</router-link>
              </md-button>
            </div>

            <md-card-expand-trigger>
              <md-button class="md-icon-button">
                <md-icon>keyboard_arrow_down</md-icon>
              </md-button>
            </md-card-expand-trigger>
          </md-card-actions>

          <md-card-expand-content>
            <md-card-content>
              {{video.snippet.description}}
            </md-card-content>
          </md-card-expand-content>
        </md-card-expand>
      </md-card>
    </div>
    <div class="md-layout md-alignment-center" v-if="busy">
      <md-progress-spinner :md-diameter="100" :md-stroke="10" md-mode="indeterminate"></md-progress-spinner>
    </div>
    <div class="md-layout md-alignment-center" v-if="noResults">
      <h1>No Results Found</h1>
    </div>
    <!--<button @click="getMyUser" v-if="isLoggedIn">Get My User</button><br>-->

  </div>
</template>
<script>
  import Vuex from 'vuex';
  const axios = require('axios');
  var infiniteScroll = require('vue-infinite-scroll');

  export default {
    name: 'home',
    data() {
      return {
        videos: [],
        nextPage: null,
        categoryId: 20,
        categories: [],
        query: null,
        busy: false,
        noResults: false,
      };
    },
    created() {
      this.fetchVideos();
      this.categoryId = 20;
      this.fetchCategories();
    },
    computed: {
      ...Vuex.mapGetters(["isLoggedIn"])
    },
    methods: {
      loadMore() {
        console.log('nextPage')
        if(this.nextPage){
          this.fetchVideos()
        }
      },
      searchVideos() {
        this.videos = [];
        this.noResults = false
        this.fetchVideos()
      },
      fetchVideos() {
        this.busy = true
        let self = this
        console.log(this.nextPage)
        axios.post('videos?token='+localStorage.getItem("token"),
            {
              'q': this.query,
              'page': this.nextPage,
              'category': this.categoryId,
              'maxResults': 20
            }
          )
          .then(function (response) {
            // handle success
            console.log('nextPageToken')
            console.log(response.data.nextPageToken)
            self.nextPage = response.data.nextPageToken
            if(self.videos,response.data.items.length > 0){
              self.videos.push.apply(self.videos,response.data.items)
            } else {
              self.noResults = true
            }
            self.busy = false
          })

      },
      fetchCategories() {
        let self = this
        axios.get('categories?token='+localStorage.getItem("token"))
          .then(function (response) {
            // handle success
            self.categories = response.data.items
          })

      },
      alert() {
        window.alert('...')
      },
      getMyUser(){
        return axios.get('/auth/me?token='+localStorage.getItem("token"))
      }
    },
    directives: {infiniteScroll}
  }
</script>
<style lang="scss" scoped>
.card-expansion {
}

.md-card {
  width: 320px;
  margin: 4px;
  display: inline-block;
  vertical-align: top;
}
</style>
